/* Estilos jasa */

@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:300,400);

/* tema blue */
:root {
  --bgcolor: rgb(134, 195, 206);

  --colortext: rgb(8, 8, 8);
  --colorbtnalt: rgb(8, 8, 8);
  --colorbtn: white;
  --bgcolorbtn: rgb(102, 185, 241);
  --bgcolorhover: #6f99f3;
  --bgcoloractive: rgb(36, 103, 247);
  --bgcolordisabled: #e7e5e5c5;

  --bordercolor: rgb(102, 185, 241);
  --bgheadercolor: rgb(102, 185, 241);
  --bgfootercolor: rgb(102, 185, 241);
  --txheadercolor: Black;
  --txfootercolor: Black;
  --txterrcolor: red;

}

*/ html * {
  font-family: 'roboto slab';
  font-size: 10px;
}

@media only screen and (max-width: 800px) and (min-width: 600px) {

  /* CSS para las pantallas con resoluciones menores que 800 x */
  html * {
    font-family: 'roboto slab';
    font-size: 8px;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 801px) {
  /* CSS para pantallas menores que 1025 y mayores que 801 x  */

  html * {
    /* color: blue; */

    font-family: 'roboto slab';
    font-size: 12px;
  }
}

@media only screen and (max-width: 1366px) and (min-width: 1025px) {
  /* CSS para pantallas menores que 1367 y mayores que 1025  */

  html * {
    font-family: 'roboto slab';
    font-size: 15px;
  }
}

@media only screen and (max-width: 1536px) and (min-width: 1367px) {
  html * {

    font-family: 'roboto slab';
    font-size: 14px;
  }
}

@media only screen and (max-width: 1920px) and (min-width: 1538px) {
  html * {
    font-family: 'roboto slab';
    font-size: 14px;
  }
}

body {
  overflow: auto;
  /* Hide scrollbars */

}

.img-logo {
  margin: 10px;
  width: 36%;
  float: left;
}

.img-logo-autentica {
  margin: 10px;
  width: 100%;
  float: left;
}

.img-nope {
  width: 50%;
  display: flex;
  border: 1px solid black;
  align-items: center;
  justify-content: center;
  text-align: center;
}


.center-screen {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.container-jasa-main {

  background-image: url("../images/liceo.jpg");
  width: 100%;
  min-height: 80vh
}


.container-jasa {
  background-color: var(--bgcolor);
  width: 100%;
  min-height: 90vh
}




.header-jasa {
  background-color: var(--bgheadercolor);
  min-height: auto;

}

.footer-jasa {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0em;
  background-color: var(--bgfootercolor);
  text-align: center;
  min-height: 50px;
}

.footer-autentica {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  /* Height of the footer */
  background-color: var(--bgfootercolor);
}

.jasa-centrado-footer {
  margin: auto;
  width: 100%;
  padding-top: 1em;
}

.centrado-horizontal {
  margin: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);


}

.centrado-vertical-horizontal {
  margin: 0;
  position: relative;
  text-align: center;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.jasa-modal-title {
  font-size: 1.5em;
}

.btn-tool {
  float: right;
  text-align: center;
  margin: 0.2em;
  margin-top: 10px;
  height: 2.0em;
  width: 2.0em;

  border-color: var(--bgbordercolor);

  border-radius: 8px;
  ;
  font-size: 1.6em;
  cursor: pointer;

}

.cuadro-login {
  border-style: solid;
  border-color: var(--border);
  border-radius: 0.5em;
  border-width: 0.1em;
  padding: 0em 2em 2em 2em;

  background-color: var(--bgheadercolor);


}

.text-teme-color {
  color: var(--txheadercolor);
}

.jasa-login-texto {
  text-align: center;
  color: var(--txheadercolor);
}

.jasa-login {
  background-color: var(--bgheadercolor);
}

.jasa-login-header {
  text-align: center;
  color: var(--txheadercolor);
  font-size: 1.5em;
  padding-top: 0.3em;
}

.jasa-line-header {
  text-align: center;

  color: var(--txheadercolor);
}

.jasa-line-header-usuario {
  text-align: center;
  line-height: 0.8em;
  font-size: 1.em;
  padding-top: 0.3em;
  padding-top: 0.3em;
  color: var(--txheadercolor);

}


.jasa-line-small {
  line-height: 1.0em;
  font-size: 1.0em;
  padding-bottom: 0.3em;
}

.entrada-invalida {
  color: red;
  border-color: red;
  border-width: 1px;
  border-style: solid;
}

.entrada-valida {

  border-color: black;
  border-width: 1px;
  border-style: solid;
}

.campo-invalido {

  color: var(--txterrcolor);
}

.campo-valido {

  color: white;
}

.campo-invalido-2 {

  color: white;
}

.eye_box {
  text-align: center;
  vertical-align: middle;
  border-style: solid;
  line-height: 32px;
  border-width: 1px;
  border-color: gray;
  width: 10%;
  height: 2.5em;
  margin-top: 0px;
  margin-bottom: 3px;
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 0px 3px 3px 0px;
}




.cuadro-jasa-01 {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
  padding: 15px;
  border-radius: 4px;
  background-color: var(--bgcolor);

}

.cuadro-jasa-certificado {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
  padding: 15px;
  border-radius: 4px;
  border-color: black;
  border-style: solid;

}

.cuadro-jasa-liquidacion {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
  padding: 15px;
  border-radius: 4px;
  border-color: black;
  border-style: solid;

}

.cursiva-big {
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font: size 26px;
  font-style: italic;
}

.cursiva-normal {
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: larger;
  font-style: italic;
}

.cuadro-jasa-noticia-0 {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
  padding: 15px;
  border-width: 3px;
  border-color: black;
  border-radius: 20px;
  background-color: white;
  min-height: 20vh;

}

.cuadro-jasa-chat-nuevo {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
  padding: 15px;
  border-width: 3px;
  border-color: black;
  border-radius: 20px;
  background-color: white;
  min-height: 5vh;

}

.cuadro-jasa-noticia-1 {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
  padding: 15px;
  border-width: 3px;
  border-color: black;
  border-radius: 20px;
  background-color: white;
  min-height: 60vh;

}

.cuadro-jasa-comunicado-0 {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
  padding: 15px;
  border-width: 3px;
  border-color: black;
  border-radius: 20px;
  background-color: white;
  min-height: 20vh;

}

.cuadro-jasa-comunicado-1 {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
  padding: 15px;
  border-width: 3px;
  border-color: black;
  border-radius: 20px;
  background-color: white;
  min-height: 60vh;

}

.texto-titular {
  font-size: large;
  font-weight: bold;
}

.texto-asunto {
  font-size: large;
  font-weight: bold;
}

.texto-resumen {
  font-size: smaller;
}

.texto-cuerpo {
  font-size: small;
}

.cuadro_warning {
  border-style: solid;
  border-color: #2F549E;
  border-radius: 20px;
  padding: 5px;
  width: 180px;
  border-width: 0.1em;

}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.center_midle {
  padding-top: 0.5em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.carousel-control-prev-icon {

  background-color: rgb(144, 124, 235);


}

.carousel-control-next-icon {
  background-color: rgb(144, 124, 235);

}


.jasa-big-btn {
  border-color: var(--bordercolor) !important;
  border-width: 4px !important;
  border-radius: 10px;
  padding: 10px;
  width: 10em !important;
  height: 8em !important;
  font-size: 1.2em;
}

.jasa-btn {

  color: var(--colorbtn);
  background-color: var(--bgcolorbtn);
  text-align: center;
  margin: auto;

}

.jasa-btn:hover {
  background-color: var(--bgcolorhover);

}

.jasa-btn:active {
  background-color: var(--bgcoloractive);

}

.jasa-btn:disabled {
  background-color: var(--bgcolordisabled);

}

.jasa-txt-01 {
  display: block;
  width: 100%;
  height: calc(2.25em+ 2px);
  padding: .375rem 1.75rem .375rem .75rem;
  font-size: 1em;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25em;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

select {
  height: calc(2.25em+ 5px);
  padding: .375rem 1.75rem .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  vertical-align: middle;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.jasa-txt-01-a {
  display: block;
  height: 2.2em;
  padding: .375em .75em;
  font-size: 1em;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25em;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.jasa-txt-instrucciones {
  display: block;
  /*   width: 100%;*/
  height: calc(2.25em+ 2px);
  padding: .375em .75em;
  font-size: 0.9em;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25em;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.div_centered {
  display: block;
  margin-left: auto;
  margin-right: auto
}

.centrado {
  text-align: center;
}

.table-jasa {
  padding-left: 5px;
  padding-right: 5px;
  max-width: 100%;
  white-space: nowrap;
  border-collapse: collapse;
  border-spacing: 0px;


}

.cuadro_fidel_borde {


  padding: 3px;
  border: 1px solid black;
  width: 100%;
  height: auto;
  cursor: pointer;
  cursor: hand;


}

.textarea-entrevista_01 {

  min-height: calc(2.9em);
  resize: vertical;
  border: 1px solid gray;
  display: block;
  line-height: 1.2em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.textarea-controldata_01 {
  width: 100%;
  resize: vertical;
  border: none;
  display: block;
  line-height: 1.2em;

}


.textarea_com {
  width: 100%;
  height: auto;
  border: 1px solid gray;
  line-height: 1.2em;
}

.textarea_01 {
  width: 100%;
  height: auto;
  border: none;
  line-height: 1.2em;
}

.textarea_02 {
  width: 100%;
  height: calc(1.8rem);
  line-height: 2.25em;
  border: none;
}

.separador-vertical_01 {
  height: 0.25em;
  ;
}

.column {
  float: left;


}

.col_00_05 {
  padding: 1px 1px 1px 3px;
  width: 0.5%;
}

.col_01 {
  padding: 1px 1px 1px 3px;
  width: 1%;
}

.col_02 {
  padding: 1px 1px 1px 3px;
  width: 2%;
}


.col_03 {
  padding: 1px 1px 1px 3px;
  width: 3%;
}

.col_04 {
  padding: 1px 1px 1px 3px;
  width: 4%;
}

.col_05 {
  padding: 1px 1px 1px 3px;
  width: 5%;
}

.col_06 {
  padding: 1px 1px 1px 3px;
  width: 6%;
}

.col_07 {
  padding: 1px 1px 1px 3px;
  width: 7%;
}

.col_08 {
  padding: 1px 1px 1px 3px;
  width: 8%;
}

.col_09 {
  padding: 1px 1px 1px 3px;
  width: 9%;
}

.col_10 {

  padding: 1px 1px 1px 3px;
  width: 10%;
}

.col_11 {

  padding: 1px 1px 1px 3px;
  width: 11%;
}

.col_11_57 {

  padding: 1px 1px 1px 3px;
  width: 11.76%;
}

.col_11_76 {

  padding: 1px 1px 1px 3px;
  width: 11.76%;
}

.col_12 {

  padding: 1px 1px 1px 3px;
  width: 12%;
}

.col_13 {

  padding: 1px 1px 1px 3px;
  width: 13%;
}

.col_14 {

  padding: 1px 1px 1px 3px;
  width: 14%;
}

.col_15 {

  padding: 1px 1px 1px 3px;
  width: 15%;
}


.col_16 {

  padding: 1px 1px 1px 3px;
  width: 16%;
}

.col_18 {

  padding: 1px 1px 1px 3px;
  width: 18%;
}

.col_19 {

  padding: 1px 1px 1px 3px;
  width: 19%;
}

.col_20 {

  padding: 1px 1px 1px 3px;
  width: 20%;
}

.col_21 {

  padding: 1px 1px 1px 3px;
  width: 21%;
}


.col_22 {

  padding: 1px 1px 1px 3px;
  width: 22%;
}

.col_22_05 {

  padding: 1px 1px 1px 3px;
  width: 22.5%;
}

.col_23 {

  padding: 1px 1px 1px 3px;
  width: 23%;
}

.col_24 {

  padding: 1px 1px 1px 3px;
  width: 23%;
}

.col_25 {

  padding: 1px 1px 1px 3px;
  width: 25%;
}

.col_26 {

  padding: 1px 1px 1px 3px;
  width: 26%;
}

.col_26 {

  padding: 1px 1px 1px 3px;
  width: 26%;
}

.col_27 {

  padding: 1px 1px 1px 3px;
  width: 27%;
}

.col_28 {

  padding: 1px 1px 1px 3px;
  width: 28%;
}

.col_29 {

  padding: 1px 1px 1px 3px;
  width: 29%;
}

.col_30 {

  padding: 1px 1px 1px 3px;
  width: 30%;
}

.col_31 {

  padding: 1px 1px 1px 3px;
  width: 31%;
}

.col_32 {

  padding: 1px 1px 1px 3px;
  width: 32%;
}

.col_33 {

  padding: 1px 1px 1px 3px;
  width: 33%;
}

.col_34 {

  padding: 1px 1px 1px 3px;
  width: 34%;
}

.col_35 {

  padding: 1px 1px 1px 3px;
  width: 35%;
}

.col_36 {

  padding: 1px 1px 1px 3px;
  width: 36%;
}

.col_38 {

  padding: 1px 1px 1px 3px;
  width: 38%;
}

.col_39 {

  padding: 1px 1px 1px 3px;
  width: 39%;
}

.col_40 {

  padding: 1px 1px 1px 3px;
  width: 40%;
}

.col_41 {

  padding: 1px 1px 1px 3px;
  width: 41%;
}

.col_42 {

  padding: 1px 1px 1px 3px;
  width: 42%;
}

.col_43 {

  padding: 1px 1px 1px 3px;
  width: 43%;
}

.col_44 {

  padding: 1px 1px 1px 3px;
  width: 44%;
}

.col_45 {

  padding: 1px 1px 1px 3px;
  width: 45%;
}

.col_46 {

  padding: 1px 1px 1px 3px;
  width: 46%;
}

.col_47 {

  padding: 1px 1px 1px 3px;
  width: 47%;
}

.col_48 {

  padding: 1px 1px 1px 3px;
  width: 48%;
}

.col_49 {

  padding: 1px 1px 1px 3px;
  width: 49%;
}


.col_50 {

  padding: 1px 1px 1px 3px;
  width: 50%;
}

.col_51 {

  padding: 1px 1px 1px 3px;
  width: 51%;
}

.col_52 {

  padding: 1px 1px 1px 3px;
  width: 52%;
}

.col_53 {

  padding: 1px 1px 1px 3px;
  width: 53%;
}

.col_54 {

  padding: 1px 1px 1px 3px;
  width: 54%;
}

.col_55 {

  padding: 1px 1px 1px 3px;
  width: 55%;
}

.col_60 {

  padding: 1px 1px 1px 3px;
  width: 60%;
}

.col_61_12 {

  padding: 1px 1px 1px 3px;
  width: 61.12%;
}

.col_61_98 {

  padding: 1px 1px 1px 3px;
  width: 61.98%;
}

.col_63 {

  padding: 1px 1px 1px 3px;
  width: 63%;
}

.col_63_94 {

  padding: 1px 1px 1px 3px;
  width: 63.94%;
}

.col_65 {

  padding: 1px 1px 1px 3px;
  width: 65%;
}

.col_66_34 {

  padding: 1px 1px 1px 3px;
  width: 66.34%;
}

.col_70 {

  padding: 1px 1px 1px 3px;
  width: 70%;
}

.col_70_06 {

  padding: 1px 1px 1px 3px;
  width: 70.6%;
}

.col_75 {

  padding: 1px 1px 1px 3px;
  width: 75%;
}

.col_76 {

  padding: 1px 1px 1px 3px;
  width: 76%;

}

.col_77 {

  padding: 1px 1px 1px 3px;
  width: 77%;

}

.col_78 {

  padding: 1px 1px 1px 3px;
  width: 78%;
}

.col_80 {

  padding: 1px 1px 1px 3px;
  width: 80%;
}



.col_85 {

  padding: 1px 1px 1px 3px;
  width: 85%;
}

.col_88 {

  padding: 1px 1px 1px 3px;
  width: 85%;
}

.col_90 {

  padding: 1px 1px 1px 3px;
  width: 90%;
}

.col_96 {

  padding: 1px 1px 1px 3px;
  width: 96%;
}

.col_95 {

  padding: 1px 1px 1px 3px;
  width: 95%;
}

.col_96 {

  padding: 1px 1px 1px 3px;
  width: 96%;
}

.col_97 {

  padding: 1px 1px 1px 3px;
  width: 97%;
}

.col_98 {

  padding: 1px 1px 1px 3px;
  width: 98%;
}

.col_100 {

  padding: 1px 1px 1px 3px;
  width: 100%;
}


.cuadro_alternativa {
  margin-left: 0.30em;
  width: calc(2.25rem);
  height: calc(2.25rem);
  border-width: thin;
  border-style: solid;
  border-color: rgb(173, 173, 173);
  border-radius: 4px;
  background-color: white;

  font-size: 1em;
  padding: 10px;
  transition: all 0s;
  transition-delay: 0s;
  transition-duration: 0s;

}

.cuadro_alternativa:hover {
  background-color: white;
  color: black;
  transition: all 0s;
  transition-delay: 0s;
  transition-duration: 0s;
}

.cuadro_alternativa_cd {
  margin-left: 0.1em;
  width: calc(2.0em);
  height: calc(2.0em);
  border-width: thin;
  border-style: solid;
  border-color: rgb(173, 173, 173);
  border-radius: 4px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  glyph-orientation-vertical: auto;
  font-size: 0.8em;
  padding: 0.2em;
  transition: all 0s;
  transition-delay: 0s;
  transition-duration: 0s;

}

.cuadro_alternativa_cd:hover {
  background-color: white;
  color: black;
  transition: all 0s;
  transition-delay: 0s;
  transition-duration: 0s;
}



.select-01 {
  background-color: white;
  color: black;
  border: none;
  height: auto;
  max-width: 90%;

}

.select-01 select :focus {
  border-color: #2a6dc9 !important;
}

.tabla-jasa-01 {
  font-size: 1.0em;
}

.oculto {
  display: none;
}

.mmedia-res {
  width: 100%;
  border-radius: 10px;
}

.mmedia-cpo {
  width: 100%;
}

.media-linea {
  font-size: 0.8em;
  line-height: 0.8em;

}

input[type=number] {
  text-align: right;
}

.centrado-horizontal {
  margin: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);


}

.centrado-vertical-horizontal {
  margin: 0;
  position: relative;
  text-align: center;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


.centrado-imagen {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0%;
  right: 0;
  width: 100%;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  border: none;
  background-color: #CC3C15;
  z-index: -2000;

}

.centrado-canvas {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0%;
  right: 0;


  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  border: none;
  background-color: #CC3C15;
  z-index: -1000;

}


.centrado-video {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0%;
  right: 0;
  width: 100%;
  height: 100%;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  border-width: 5px;
  border-color: var(--bordercolor);
  border-style: solid;

}

.loading-video {

  border: none;
  top: 30%;
  left: 40%;

  margin: 0 0 0 0;
  position: absolute;
  cursor: pointer;
  z-index: 7;
}

.centrado-vertical {
  display: inline-block;
  vertical-align: middle;
  line-height: 100%;
}

.enmarcado-video {

  border: none;
  top: 0%;
  left: 10%;

  margin: 0 0 0 0;
  position: absolute;
  cursor: pointer;
  z-index: 7;
}

.centrado-vertical {
  display: inline-block;
  vertical-align: middle;
  line-height: 100%;
}

.centrado-centrado {
  margin: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


.upload-area {
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: auto;
}

.upload-area:hover {
  cursor: pointer;
}

.upload-area h1 {
  text-align: center;
  font-weight: normal;
  font-family: sans-serif;
  line-height: 50px;
  color: darkslategray;
}

.credit_card {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: medium;
  margin: 5px;
  width: 85.60mm;
  height: 53.98mm;
  color: rgb(0, 22, 0);
  background: greenyellow;
  border: 1px solid green;
  border-radius: 10px;
  overflow: hidden;
  background-image: url("liceosf.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100px;

}

.foto-cred-frame {
  border: 1px solid green;
  border-radius: 4px;
  padding: 5px;
  width: 100%;
}

.respo {

  width: 100%;
}

.modal-jasa {
  background-color: rgb(214, 211, 211);
}

.align-num {
  text-align: right;
}

.dataTables_scrollHead {
  position: sticky !important;
  top: 0px;
  z-index: 99;
  background-color: white;
  box-shadow: 0px 5px 5px 0px rgba(82, 63, 105, 0.08);
}

.btn-sep {
  margin-left: 3px;
  margin-right: 3px;
}

.mono {
  font-family: 'Space Mono';
  font-size: 18px;
}

.tab-pane {
  border: solid 1px green;
  border-radius: 4px;
}

.jasa-nav {
  border: solid 1px green;
  border-radius: 4px;
}

.tab-pills {

  background-color: green;

}

.nav_item {
  border: solid 1px green;
  background-color: green;
  border-radius: 4px;
}

.sem1 {

  width: 25px;
  height: 25px;
  border: 3px solid black;
  margin: 2px;
  border-radius: 50%;
}

.btn-grad {

  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn-grad:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.rojo {
  background-image: linear-gradient(to right, red 0%, #eb6b6f 51%, red 100%);
}

.morado {
  background-image: linear-gradient(to right, rgb(92, 9, 92) 0%, magenta 51%, rgb(92, 9, 92) 100%);
}


.amarillo {
  background-image: linear-gradient(to right, yellow 0%, #ddcb2c 51%, yellow 100%);
}

.verde {
  background-image: linear-gradient(to right, green 0%, #56dd7f 51%, green 100%);
}

.plomo {
  background-color: rgb(75, 77, 75)
}

.off {
  background-color: rgb(31, 43, 29)
}

.rojoblk {
  background-color: rgb(255, 29, 29);
  animation: blinkingBackground 2s infinite;
}

.amarilloblk {
  background-color: rgb(255, 235, 29);
  animation: blinkingBackground 2s infinite;
}

.verdeblk {
  background-color: rgb(35, 253, 0);
  animation: blinkingBackground 2s infinite;
}

.off {
  background-color: rgb(31, 43, 29)
}

.blk {
  color: #fff;

  animation: blinkingBackground 0.5 infinite;
}

@keyframes blinkingBackground {

  100% {
    background-color: rgb(31, 43, 29)
  }
}

.mayus {
  text-transform: uppercase;
}


.content-dash {
  margin: 0.5rem auto 1rem auto !important;
  padding: 0.25rem;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 2rem;
  float: none;
  display: flex;
  justify-content: start;
  align-self: self-start;
  background: green;
  overflow-y: scroll;
  flex-wrap: wrap;
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox, Safari 18.2+, Chromium 121+ */
  height: 100%;
}

.cont-dash-graph {

  margin: 2rem auto 0 auto;
  background-color: white;
  border-radius: 25px;
  width: 45%;
  text-align: center;
  outline: 2px solid var(--blanco);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  animation: fadeIn 0.5s ease-out;

}